.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  font-family: inherit;
  font-size: 60%;
  position : center;
}

form {
  position : relative;
  padding: 1em;
  box-sizing: border-box;
  display  : grid;
  grid-gap : 20px;
  grid-template-columns : repeat(2, 1fr);
}

#recommendations {
  text-align: center;
  /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family:inherit;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#recommendations td, #recommendations th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#recommendations tr:nth-child(even){background-color: #f2f2f2;}*/

/*#recommendations tr:hover {background-color: #ddd;}*/

#recommendations th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
